[Desktop Entry]
Encoding=UTF-8
Name=Recall Windows
Comment=
Exec=python3 /mnt/Stockage_Linux/Telechargements/recall-windows.py
Icon=computer
Terminal=false
Type=Application
StartupWMClass=recall-windows.py
Categories=GNOME;Application;Utility;
